<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LikeSinaTabBar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CAF5F8041C1F0599008E79CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAF5F8181C1F059A008E79CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAF5F8231C1F059A008E79CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
